name: tests

on:
    push:
        branches: [ main ]
    pull_request:

permissions:
    contents: read

jobs:
    tests:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php: [ 8.2 ]
                laravel: [ 10.* ]

        name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

        steps:
            - name: Checkout the code
              uses: actions/checkout@v3

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Install the dependencies
              run: |
                  composer require "illuminate/contracts:${{ matrix.laravel }}" --no-interaction --no-progress --no-update
                  composer update --no-progress --prefer-dist --no-interaction

            - name: Execute the tests
              run: ./vendor/bin/pest --compact
